<%- partial ('_header') %>
<script>
window.fcDemos = {};

<% for (var index in public.demos._data) {
	var item = public.demos._data[index];
	var id = item['id'];
	%>
	window.fcDemos["<%= id %>"] = {
		'js_code_text': <%- JSON.stringify(partial('demos/_' + id, {type: 'js'})) %>,
		'html_code_text': <%- JSON.stringify(partial('demos/_' + id, {type: 'html'})) %>,
		'js_func': function ($scope) {
			<%- partial('demos/_' + id, {type: "js"}) %>
		},
		'name': "<%= item.name %>",
		'desc': "<%= item.desc %>"
	}
<% } %>
</script>
	<div class="masthead">
		<ul class="nav nav-pills pull-right">
			<li><a href="http://fusioncharts.com/">FusionCharts Home</a></li>  </ul>
			<h3><a href="http://fusioncharts.github.io/angular-fusioncharts/"><img src="http://www.fusioncharts.com/theme/210x38xlogo.png.pagespeed.ic.KZD9tJ7qIK.png" class="logo"></a></h3>
	</div>
	<div class="jumbotron">
		<img src="images/ng-fc-logo.png" class="logo">
		<h1>Angular-FusionCharts</h1>
		<p>Simple and effective AngularJS bindings for FusionCharts JavaScript Charting Library.</p>
		<p><a class="btn btn-primary btn-lg" href="https://github.com/fusioncharts/angular-fusioncharts/archive/v0.1-alpha.zip" role="button"><i class="glyphicon glyphicon-download"></i> Download (0.1-alpha)</a></p>
	</div>
	<div class="row">
		<div class="col-md-4">
		<h3>About Angular-FusionCharts</h3>
		<p>
		This project provides AngularJS bindings for <a href="http://fusioncharts.com">FusionCharts JavaScript Charting Library</a>. It makes adding rich, interactive charting to your Angular JS Projects easy and works in the <i>Angular Way</i>.
		</p>
		</div>
		<div class="col-md-4 ">
		<h3>Features</h3>
		<p>
		<ul>
			<li>Add a chart using just a single directive</li>
			<li>Auto-updates your chart object on modifying scope</li>
			<li>Angular-friendly events let you call controller functions directly from the chart</li>
			<li>Offers advanced control by giving you access to full FusionCharts object</li>
			<li>Has variety of ways to add a chart, from JSON URL to Scope Array Binding</li>
			<li>Plenty of examples and good documentation (coming soon)</li>
		</ul>
		</p>
		</div>
		<div class="col-md-4">
		<h3>Community</h3>
		<p>
		<ul>
			<li><a href="http://github.com/fusioncharts/angular-fusioncharts">Github Repo</a></li>
			<li><a href="http://github.com/fusioncharts/angular-fusioncharts/issues">Issues</a></li>
			<li><a href="http://twitter.com/fusioncharts">FusionCharts Twitter</a></li>
			<li><a href="http://stackoverflow.com/questions/tagged/fusioncharts">Stack Overflow</a></li>
		</ul>

		<h3>Support</h3>
		<p>Simply open up <a href="https://github.com/fusioncharts/angular-fusioncharts/issues/new">a github issue</a> with your question/bug report/suggestion.</p>
		</div>
	</div>


<div class="row">
<div class="col-md-12">
<h1 style="border-bottom:1px solid #e3e3e3; padding-bottom: 10px">Demos</h1>
</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="list-group" role="tablist">
		<% for (var index in public.demos._data) { 
			var item = public.demos._data[index];
			var id = item['id'];
			var name = item['name'];
			var desc = item['desc'];
		%>
			<a href="#/demos/<%=id%>" class="list-group-item "><h4 class="list-group-item-heading"><%= name %></h4><p class="list-group-item-text"><%= desc %></p></a>
		<% } %>
		</div>
	</div>
	<div class="col-md-9">
		<div ng-view></div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%- partial("_mdfiles/quickstart") %>
	</div>
</div>

<% for (var index in public.demos._data) {
	var item = public.demos._data[index];
	var id = item['id'];
	%>
<script type="text/ng-template" id="<%= id %>">
<%- partial('demos/_' + id, {type: 'html'}) %>
</script>
<% } %>
<%- partial ('_footer') %>