<%- partial ('_header') %>
<script>
window.fcDemos = {};

<% for (var index in public.demos._data) {
	var item = public.demos._data[index];
	var id = item['id'];
	%>
	window.fcDemos["<%= id %>"] = {
		'js_code_text': <%- JSON.stringify(partial('demos/_' + id, {type: 'js'})) %>,
		'html_code_text': <%- JSON.stringify(partial('demos/_' + id, {type: 'html'})) %>,
		'js_func': function ($scope) {
			<%- partial('demos/_' + id, {type: "js"}) %>
		},
		'name': "<%= item.name %>",
		'desc': "<%= item.desc %>"
	}
<% } %>
</script>
<div class="row">
	<div class="col-md-3">
		<h2>Demos</h2>
		<ul class="nav nav-pills nav-stacked" role="tablist">
		<% for (var index in public.demos._data) { 
			var item = public.demos._data[index];
			var id = item['id'];
			var name = item['name'];
		%>
			<li><a href="#/demos/<%=id%>"><%= name %></a></li>
		<% } %>
		</ul>
	</div>
	<div class="col-md-9">
		<div ng-view></div>
	</div>
</div>
<script type="text/ng-template" id="test1">
	<fc-chart fc-width="{{width}}" fc-height="{{height}}" fc-type="mscolumn2d" fc-chart-attrs="{{chartAttrs}}" fc-categories="{{categories}}" fc-dataset="{{dataset}}" fc-chart-click="chartClicked"></fc-chart>
</script>
<script type="text/ng-template" id="test2">
	<fc-chart 
        fc-width="600" 
        fc-height="400"
        fc-type="column2d",
        fc-datasource="{{dataSource}}"
        fc-chart-click="chartClicked",
        fc-chart-object="chartObj"
        ></fc-chart>
</script>
<script type="text/ng-template" id="test3">
	<fc-chart fc-json-url="data/data.json">
</script>
<%- partial ('_footer') %>