<%- partial ('_header') %>
<script>
window.fcDemos = {};

<% for (var index in public.demos._data) {
	var item = public.demos._data[index];
	var id = item['id'];
	%>
	window.fcDemos["<%= id %>"] = {
		'js_code_text': <%- JSON.stringify(partial('demos/_' + id, {type: 'js'})) %>,
		'html_code_text': <%- JSON.stringify(partial('demos/_' + id, {type: 'html'})) %>,
		'js_func': function ($scope) {
			<%- partial('demos/_' + id, {type: "js"}) %>
		},
		'name': "<%= item.name %>",
		'desc': "<%= item.desc %>"
	}
<% } %>
</script>
<div class="row">
	<div class="col-md-3">
		<h2>Demos</h2>
		<ul class="nav nav-pills nav-stacked" role="tablist">
		<% for (var index in public.demos._data) { 
			var item = public.demos._data[index];
			var id = item['id'];
			var name = item['name'];
		%>
			<li><a href="#/demos/<%=id%>"><%= name %></a></li>
		<% } %>
		</ul>
	</div>
	<div class="col-md-9">
		<div ng-view></div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%- partial("_mdfiles/quickstart") %>
	</div>
</div>

<% for (var index in public.demos._data) {
	var item = public.demos._data[index];
	var id = item['id'];
	%>
<script type="text/ng-template" id="<%= id %>">
<%- partial('demos/_' + id, {type: 'html'}) %>
</script>
<% } %>
<%- partial ('_footer') %>