<!doctype html>
<html>

<head>
    <title>AngularJS FusionCharts</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="demos/assets/images/favicon.ico">
    <!-- CSS Resources -->
    <link rel="stylesheet" href="//s3-eu-west-1.amazonaws.com/fcdesignsystem/1.0.0/css/fusionDesign.css">
    <link rel="stylesheet" href="demos/assets/css/style.css">
    <link rel="stylesheet" href="demos/assets/css/codemirror.css">
    <link rel="stylesheet" href="demos/assets/css/dracula.css">

    <!-- JS Resources -->
    <script type="text/javascript" src="demos/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="demos/bower_components/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="demos/bower_components/codemirror/addon/mode/multiplex.js"></script>
    <script type="text/javascript" src="demos/bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="demos/bower_components/codemirror/mode/htmlembedded/htmlembedded.js"></script>
    <script type="text/javascript" src="demos/bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script type="text/javascript" src="demos/bower_components/codemirror/mode/xml/xml.js"></script>

    <script type="text/javascript" src="demos/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="demos/bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="demos/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="demos/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="demos/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="demos/bower_components/prism/prism.js"></script>
    <script type="text/javascript" src="demos/js/fusioncharts.js"></script>
    <script type="text/javascript" src="demos/js/fusioncharts.maps.js"></script>
    <script type="text/javascript" src="demos/js/maps/fusioncharts.world.js"></script>
    <script type="text/javascript" src="demos/js/fusioncharts.widgets.js"></script>
    <script type="text/javascript" src="demos/js/fusioncharts.powercharts.js"></script>
    <script type="text/javascript" src="demos/js/fusioncharts.timeseries.js"></script>
    <script type="text/javascript" src="https://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.ocean.js"></script>
    <script type="text/javascript" src="demos/themes/fusioncharts.theme.fusion.js"></script>
    <script type="text/javascript" src="demos/themes/fusioncharts.theme.gammel.js"></script>
    <script type="text/javascript" src="demos/themes/fusioncharts.theme.candy.js"></script>
    <script type="text/javascript" src="demos/themes/fusioncharts.theme.zune.js"></script>
    <script type="text/javascript" src="demos/themes/fusioncharts.theme.carbon.js"></script>
    <script type="text/javascript" src="demos/js/angular-fusioncharts.min.js"></script>
    <script type="text/javascript" src="demos/bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
    
    <script type="text/javascript" src="demos/js/app.js"></script>
    <% for(var i=0; i<demos.length; i++) { %>
        <script type="text/javascript" src="<%= demos[i].script %>"></script>
        <% } %>
            <script type="text/javascript">
                window.fcDemos = {};
                <% for(var i=0; i<demos.length; i++) { %>
                window.fcDemos['<%= demos[i].id %>'] = {
                    js: <%- demos[i].jsCode %>,
                    html: <%- demos[i].htmlCode %>,
                    schema: <%- demos[i].schemaCode %>,
                    data: <%- demos[i].dataCode %>
                };
                <% } %>
            </script>
            <!-- <link rel="stylesheet" href="demos/bower_components/bootstrap/dist/css/bootstrap.css"/> -->
            <!-- <link rel="stylesheet" href="demos/bower_components/prism/themes/prism.css"/> -->
            <link rel="stylesheet" href="demos/themes/fusioncharts.theme.fusion.css" />
            <style type="text/css">
                pre {
                    max-height: 400px;
                }

                /* From the passportjs.org website */

                .masthead {
                    margin-bottom: 20px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #eeeeee;
                }

                .masthead .logo {
                    height: 38px;
                    width: 210px;
                }

                .masthead h3 a {
                    color: #333333;
                    ;
                    text-decoration: none;
                }

                .masthead h3 a:hover {
                    color: #333333;
                    text-decoration: none;
                }

                .jumbotron .logo {
                    height: 60px;
                    width: 119px;
                    float: left;
                    margin-right: 15px;
                    margin-top: 26px;
                }

                .jumbotron p {
                    margin-left: 133px;
                }

                .jumbotron p {
                    margin-left: 133px;
                }
            </style>
</head>

<body ng-app="fusioncharts-demo" ng-controller='AppController'>
    <!-- navbar start -->
    <nav id="navbar" class="navbar navbar-light navbar-expand-lg bg-light">
        <!-- logo -->
        <a href="http://fusioncharts.com/" target="_blank" class="navbar-brand active">
            <img src="demos/assets/images/fc-logo.svg" width="149" height="27" alt="FusionCharts" class="img-circle">
        </a>
        <!-- FC home -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="header-link" href="//github.com/fusioncharts/angularjs-fusioncharts" target="_blank">GitHub Repository</a>
            </li>
        </ul>
    </nav>
    <!-- navbar end -->
    <div class="page-container">
        <div id="mainContainer" class="main-container">
            <div class="content-container">
                <!-- Banner start -->
                <div class="jumbotron banner-bg-3 heroContainer fixed-bg home-banner pl-2 pr-2 pl-sm-3 pr-sm-3 pl-md-3 pr-md-3 pl-lg-6 pr-lg-6 pb-4 pt-4">
                    <div class="container container-1440 info-wrapper">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <div class="h1 text-white text-center">
                                    <img id="lang-logo" class="img-valign" src="demos/images/angularjs.png" width="50" height="50" alt="React" />
                                    <img id="fc-logo" class="img-valign" src="demos/assets/images/fc-min-logo.svg" width="40" height="40" alt="FusionCharts"
                                    />
                                    <span class="title pl-1">AngularJS FusionCharts</span>
                                </div>
                                <div class="h3 text-white text-center mt-2">
                                    <span class="sub-title primary">
                                        Simple and effective AngularJS bindings for FusionCharts JavaScript Charting Library.
                                    </span>
                                </div>
                                <div class="p text-white text-center mt-2">
                                    <span class="sub-title secondary">
                                        The Angular JS module lets you easily include FusionCharts in your AngularJS projects and add interactive charts to your
                                        AngularJS applications.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Banner end -->
            </div>



            <!-- Feature Section start -->
            <div class="container container-1200 info-wrapper pb-3">
                <div class="row">
                    <div class="col">
                        <div class="h2 mt-2">Features</div>
                        <!-- list start -->
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="feature-list">
                                    <li>
                                        <span>
                                            <i class="icn-inline icn-success fc_select"></i>
                                        </span>
                                        <div>Adds a chart using just one single directive.</div>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="icn-inline icn-success fc_select"></i>
                                        </span>
                                        <div>Auto-updates the chart object when the data source is modified.</div>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="feature-list">
                                    <li>
                                        <span>
                                            <i class="icn-inline icn-success fc_select"></i>
                                        </span>
                                        <div>Allows you to enable interactivity between Javascript charts</div>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="icn-inline icn-success fc_select"></i>
                                        </span>
                                        <div>Adds a chart from a JSON URL, from a XML URL, or using props Binding.</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- list end -->
                    </div>
                </div>
            </div>
            <!-- Feature Section end -->


            <!-- Demo Section start -->
            <div class="demo bg-light-purple pt-4 pb-4">
                <div class="container container-1200 info-wrapper">
                    <!-- Chart selection for mobile devices - start -->
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center d-md-none">
                            <div id="mobileChart-selector" class="base-dropdown chart-selector" ng-click='toggleModal(true)'>
                                <div class="selector">{{currentTitle}}</div>
                                <div class="placeholder">Quick Demo:</div>
                                <div class="caret">
                                    <i class="fc_dropdown"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal for selection (Only for Mobile Devices) -->
                    <div id="myModal" class="modal" ng-class="isModalOpen ? modalClasses : 'fade'"   ng-style="isModalOpen ? { display:'block', 'padding-left': '0px'} : {display:'none'}">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <div class="nav-list">
                                <% for(var i=0; i<demos.length; i++) { %>
                                    <a href="#/demos/<%=demos[i].id %>" ng-click="toggleModal(false)">
                                        <div class="nav-item" ng-class="{ selected : '<%=demos[i].id %>' === demoId}">
                                            <div class="p"><%= demos[i].title %></div>
                                        </div>
                                    </a>
                                <% } %>

                            </div>
                        </div>

                    </div>
                    <!-- Chart selection for mobile devices - end -->

                    <div class="row">
                        <div class="side-nav col-3 d-none d-md-block">
                            <div class="nav-heading">Quick Demo:</div>

                            <div class="nav-list">
                                <% for(var i=0; i<demos.length; i++) { %>
                                    <a href="#/demos/<%=demos[i].id %>" >
                                        <div class="nav-item" ng-class="{ selected : '<%=demos[i].id %>' === demoId}">
                                            <div class="nav-group">
                                                <div class="h5"><%= demos[i].title %></div>
                                                <div class="h5 badge badge-normal" ng-if="<%= demos[i].fusiontime %>" class="p item-desc">FusionTime</div>
                                            </div>
                                            <div class="p item-desc"><%= demos[i].desc %></div>
                                        </div>

                                    </a>
                                <% } %>
                                <!-- <div class="nav-item selected">
                                    <div class="h5">A Simple Column Chart</div>
                                    <div class="p item-desc">A simple chart with all data embedded into the directive</div>
                                </div> -->
                                
                            </div>
                        </div>
                        <div class="col-md-9 col-12" ng-controller="DemoController">
                          <ng-view></ng-view> 
                        </div>
                    </div>
                </div>
            </div>
            <!-- Demo Section end -->

            <!-- info section start -->
            <div class="container container-1200 info-wrapper pt-4">
                <div class="row">
                    <div class="col">
                        <div class="h2 mt-2">Quick Start</div>
                    </div>
                </div>
                <!-- steps -->
                <div class="row">
                    <div class="col-12 pt-3">
                        <div class="h5">
                            <span>Step 1: Include angularjs-fusioncharts.js</span>
                        </div>
                        <p class="code-desc">
                            In your HTML, include
                            <code>fusioncharts</code> library,
                            <code>angularjs</code> core file, and
                            <code>angularjs-fusioncharts</code> directive :
                        </p>
                        <div class="code-view mt-2">
                            <div class="card-shadow">
                                <div class="card-body p-0">
                                    <div class="code-panel">
                                        <div class="codeMirrorDiv" id="c1">
                                            <div ui-codemirror ui-codemirror-opts="{
                                                    lineNumbers: true,
                                                    theme:'dracula',
                                                    readOnly: 'nocursor',
                                                    lineWrapping : true,
                                                    mode: 'htmlembedded'
                                                  }" ng-model="includeScript"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- steps -->
                <div class="row">
                    <div class="col-12 pt-3">
                        <div class="h5">
                            <span>Step 2: Include
                                <code>ng-fusioncharts</code> in your module</span>
                        </div>
                        <p class="code-desc">In the app, include
                            <code>ng-fusioncharts</code> as a dependency. If you looking for where to add the dependency, look
                            for the call to
                            <code>angular.module</code> in your code.</p>
                        <div class="code-view mt-2">
                            <div class="card-shadow">
                                <div class="card-body p-0">
                                    <div class="code-panel">
                                        <div class="codeMirrorDiv" id="c3">
                                            <div ui-codemirror ui-codemirror-opts="editorOptionsJs" ng-model="injectScript"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- steps end -->
                <!-- steps -->
                <div class="row">
                    <div class="col-12 pt-3">
                        <div class="h5">
                            <span>Step 3: Add the
                                <code>fusioncharts</code> directive</span>
                        </div>
                        <p class="code-desc">
                            In your HTML, find the section where you wish to add the chart and add a
                            <code>&lt;div&gt;</code> with the
                            <code>fusioncharts</code> directive. We are assuming it's inside a controller called
                            <code>MyController</code> which would change based on your usage.

                        </p>
                        <div class="code-view mt-2">
                            <div class="card-shadow">
                                <div class="card-body p-0">
                                    <div class="code-panel">
                                        <div class="codeMirrorDiv" id="c3">
                                            <div ui-codemirror ui-codemirror-opts="editorOptionsHTML" ng-model="directiveUsage"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- steps end -->
                <!-- steps -->
                <div class="row">
                    <div class="col-12 pt-3">
                        <div class="h5">
                            <span>Step 4: Populate required variables in controller</span>
                        </div>
                        <p class="code-desc">
                            In the previous code, we are binding to a scope variable myDataSource, but that hasn't been defined yet. In your controller,
                            set the DataSource as you would for a regular FusionCharts JSON format DataSource (see
                            <a
                                href="http://docs.fusioncharts.com/tutorial-getting-started-your-first-charts-building-your-first-chart.html">this tutorial</a> for a general introduction to this format).
                        </p>
                        <div class="code-view mt-2">
                            <div class="card-shadow">
                                <div class="card-body p-0">
                                    <div class="code-panel">
                                        <div class="codeMirrorDiv" id="c3">
                                            <div ui-codemirror ui-codemirror-opts="editorOptionsJs" ng-model="controllerCode"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="code-desc">And your chart should display when you load the page.</p>

                    </div>
                </div>
                <!-- steps end -->

                <div class="row">
                  <div class="col">
                    <div class="h2 mt-2">Usage and integration of FusionTime</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 pt-3">
                    <p class="code-desc">In the app, include
                      <code>ng-fusioncharts</code> as a dependency. If you looking for where to add the dependency, look
                        for the call to
                      <code>angular.module</code> in your code.</p>
                    <div className="h3 mt-2" style="font-size: 20px;
                    font-weight: 600;">
                      Consider the example below for integration of FusionTime
                    </div>
                    <p class="code-desc">
                      If you've included <code>angular-fusioncharts.js</code> and fusioncharts in your <code>html</code> then add the following <code>script</code> tag:
                    </p>
                    <p class="code-desc">
                      In your <code>index.html</code>
                    </p>
                    <div class="code-view mt-2">
                      <div class="card-shadow">
                        <div class="card-body p-0">
                          <div class="code-panel">
                            <div class="codeMirrorDiv" id="c3">
                              <div ui-codemirror ui-codemirror-opts="{
                                lineNumbers: true,
                                theme:'dracula',
                                readOnly: 'nocursor',
                                lineWrapping : true,
                                mode: 'htmlembedded'
                              }" ng-model="ftScriptTag"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p class="code-desc">
                      In your <code>script.js</code>
                    </p>
                    <div class="code-view mt-2">
                      <div class="card-shadow">
                        <div class="card-body p-0">
                          <div class="code-panel">
                            <div class="codeMirrorDiv" id="c3">
                              <div ui-codemirror ui-codemirror-opts="editorOptionsJs" ng-model="fusiontimeCode"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p class="code-desc">
                      Use a bundler like browserify to bundle the script<br>
                      See the installation docs <a href="http://browserify.org/">here</a>
                    </p>
                    <div class="code-view mt-2">
                      <div class="card-shadow">
                        <div class="card-body p-0">
                          <div class="code-panel">
                            <div class="codeMirrorDiv" id="c3">
                              <div ui-codemirror ui-codemirror-opts="editorOptionsJs" ng-model="browserifyCode"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p class="code-desc">
                      Again in your <code>index.html</code>
                    </p>
                    <div class="code-view mt-2">
                      <div class="card-shadow">
                        <div class="card-body p-0">
                          <div class="code-panel">
                            <div class="codeMirrorDiv" id="c3">
                              <div ui-codemirror ui-codemirror-opts="{
                                lineNumbers: true,
                                theme:'dracula',
                                readOnly: 'nocursor',
                                lineWrapping : true,
                                mode: 'htmlembedded'
                              }" ng-model="fusionTimeHtml"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-3">
                        <div class="h5">Support</div>
                        <p>
                            <a class="ref-link" href="//github.com/fusioncharts/angularjs-fusioncharts/issues" target="_blank">GitHub Issues</a> |
                            <a class="ref-link" href="mailto:support@fusioncharts.com" target="_blank">Contact FusionCharts Support</a>
                        </p>
                    </div>
                </div>
                <!-- licensing footer starts -->
                <div class="row">
                    <div class="col-12 pt-3">
                        <div class="h5">Licensing</div>
                        <p>React-FusionCharts module is licensed under open-source, distributed under the terms of the MIT/X11
                            License. You will still need to include FusionCharts in your page, as this project provides no
                            direct functionality. You can download a free evaluation version
                            <a class="ref-link" href="//www.fusioncharts.com/download/" target="_blank">here</a>. To use in a commercial environment, please
                            <a class="ref-link" href="//www.fusioncharts.com/buy/" target="_blank">purchase a FusionCharts license</a>.</p>
                    </div>
                </div>
                <!-- licensing footer ends -->
                <!-- info section end -->
            </div>

            <!-- footer start -->
            <div id="footbar" class="row text-center mt-2">
                <div class="col-12">
                    <p class="foot-item pt-4">© 2002-2018 InfoSoft Global Private Limited. All Rights Reserved.</p>
                </div>
            </div>
            <!-- footer end -->
        </div>
    </div>
    
</body>

</html>